<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="getPageFloors" parameterType="int" resultType="floorsadmin">
        select * from pagefloors_admin where shopId = #{shopId} and isdel = 0;
    </select>
    <insert id="addPageFloor" parameterType="floorsadmin">
        insert into pagefloors_admin values(#{shopId},#{type},#{title},#{viceTitle},#{banner},#{bannerUrl});
    </insert>
    <update id="modifyPageFloor" parameterType="floorsadmin">
        update pagefloors_admin set shopId = #{shopId},type = #{type},title = #{title},viceTitle = #{viceTitle},banner = #{banner},bannerUrl = #{bannerUrl}
        where id = #{id};
    </update>


</mapper>