<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="findRadioBroadcasts" parameterType="radioadmin" resultType="radioadmin">
        select * from pageradio_admin where shopId = #{shopId} and isdel = 0;
    </select>

    <insert id="addRadioBroadcast" parameterType="radioadmin">
        insert into pageradio_admin values(#{shopId},#{content},#{title});
    </insert>
    <update id="modifyRadioBroadcast" parameterType="radioadmin">
        update pageradio_admin set shopId = #{shopId},content = #{},title = #{title} where id = #{id};
    </update>

    <update id="deleteRadioBroadcast" parameterType="radioadmin">
        update pageradio_admin set isdel = 1 where id = #{id};
    </update>
</mapper>