<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zs.mapper.ShopMapper">
    <select id="findAll" resultType="shop">
        select * from shop WHERE status != 2;
    </select>

    <select id="findById" parameterType="int" resultType="shop">
        select * from shop WHERE id = #{id} AND status != 2;
    </select>

    <insert id="addShop" parameterType="shop" useGeneratedKeys="true" keyProperty="id">
        insert into shop (`name`,address,tel,businessHours,longitude,latitude,images,status,hotSearch)
        values (#{name},#{address},#{tel},#{businessHours},#{longitude},#{latitude},#{images},#{status},#{hotSearch});
    </insert>
    
    <update id="updateShop" parameterType="shop">
        update shop set `name`=#{name},address=#{address},tel=#{tel},businessHours=#{businessHours},longitude=#{longitude},latitude=#{latitude},images=#{images},status=#{status},hotSearch=#{hotSearch}  where id =#{id};
    </update>

    <update id="deleteShop" parameterType="int">
        update shop set status = 2 where id = #{id};
    </update>
</mapper>