<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.mapper.StoreBrandMapper">

    <insert id="addStoreBrand" parameterType="storebrand">
        insert into store_brand(storeId, brandId)  values (#{storeId},#{brandId})
    </insert>

    <delete id="deleteStoreBrand" parameterType="int">
        delete from store_brand where storeId = #{storeId}
    </delete>
</mapper>