<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bond="http://www.w3.org/1999/xhtml"
      xmlns:v-for="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>公共服务场所管理</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-table.min.css"/>
    <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Vue/axios.min.js "type="text/javascript" charset="utf-8"></script>
    <style>
        /* 原理：父元素相对定位，input和横竖两条线绝对定位,
input层级高并且透明，就能显示出+号并且点击元素任意地方都可以执行选取文件 */
        .div_imgall{
            border:1px solid blue;
            /* 调整div_imgall的宽高和berder的大小，子元素大小会自适应 */
            width:100px;
            height:100px;
            position: relative;
        }
        .input_flie{
            display:block;
            width:100%;
            height:100%;
            opacity:0;
            z-index: 100;
            position: absolute;
            left:0; top:0;
        }
        .div_shuline{
            position: absolute;
            width:50%;
            height:2%;
            background-color: blue;
            left: 25%;
            top:49%;
            z-index: 5;
        }
        .div_hengline{
            position: absolute;
            width:2%;
            height:50%;
            background-color: blue;
            left: 49%;
            top:25%;
            z-index: 5;
        }
        td{
            text-align: center;
        }
    </style>
    <div class="container" id="responseResult" >
        <div class="row" >
            <br>
            <span style="font-size: 20px">门店：</span>
            <div class="btn-group" >
                <select type="button" id="Resultlist"  class="btn btn-default " v-model="selVal" @change="One()" v-bind:value="store.id" data-toggle="dropdown" style="width: 250px">
                    <option v-for="list in store"  v-model="list.id" v-bind:value="list.id" >{{list.name}}</option> <span class="caret"></span>
                </select>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-default col-sm-offset-0" id="show_addbtn" @click="addUser()">创建</button>
            <br/>
            <br/>

            <table class="table table-bordered table-hover tab-content">
                <tr>
                    <td>公共服务场所id</td>
                    <td>公共服务场所名字</td>
                    <td>服务类型</td>
                    <td>营业场所</td>
                    <td>楼层</td>
                    <td>关键字</td>
                    <td>服务介绍</td>
                    <td>门头图</td>
                    <td>状态</td>
                    <td>二维码</td>
                    <td>操作</td>
                </tr>
                <tr v-for="Result in responseResult" >
                    <td>{{Result.id}}</td>
                    <td >{{Result.name}}</td>/*公共服务场所名字*/
                    <td >{{Result.storeType.name}}</td>/*服务类型*/
                    <td >{{Result.doBusinessSiteName}}</td>/*营业场所*/
                    <td >{{Result.floorName}}</td>/*楼层*/
                    <td >{{Result.keywords}}</td>/*关键字*/
                    <td >{{Result.introduce}}</td>/*服务介绍*/
                    <td ><img :src="Result.logoImageUrl" height="40px" @click="pimgs(Result)"></td>/*门头图*/
                    <td  v-if="Result.status==1">启用</td>/*状态*/
                    <td v-else>禁用</td>
                    <td><button class="btn btn-default btn-xs" @click="ping(Result)">生成</button></td>/*二维码*/
                    <td><button class="btn btn-default btn-xs" @click="updateAndid(Result)">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger btn-xs" @click="delByid(Result)">删除</button></td>

                </tr>

            </table>


            <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:650px">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">创建/修改 新门店</h4>
                        </div>
                        <form class="form-horizontal"   method="post" role="form">
                            <div class="modal-header">
                                <input type="hidden" id="list.id" name="type" v-model="list.type" value="store">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">场所名称:</label>
                                    <div class="col-sm-8">
                                        <input type="text"  class="form-control" id="" v-model="list.name" placeholder="请输入该门店的名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">营业场所:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control"  id="listdoBusinessSiteName" @change="Two()"  placeholder="请输入该门店的名称" >
                                            <option disabled selected>请选择</option>
                                            <option v-for="(value,index) in sired" v-bind:value="index" v-bind:label="value.name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">楼层:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="listflorid"   >
                                            <option disabled selected>请选择</option>
                                            <option v-for="i in sired1.floorPlanList" v-model="i.id" >{{i.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">类型:</label>
                                    <div class="col-sm-8">
                                    <select  class="form-control" v-bind:value="first.id" id="liststoreTypeName" placeholder="请输入该门店的名称" >
                                        <option v-for="f in first" v-model="f.id">{{f.name}}</option>
                                    </select>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">关键字:</label>
                                    <div class="col-sm-8">
                                        <input type="text"  class="form-control" v-model="list.keywords" placeholder="请输入关键字(关键字请以逗号隔开)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">介绍:</label>
                                    <div class="col-sm-8">
                                        <input type="text"  class="form-control" v-model="list.introduce" placeholder="请输入介绍">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">门头图:</label>
                                <div class="div_imgall  col-sm-offset-3">
                                    <input type="file" class="input_flie" ref="file" v-model="list.logoImageUrl">
                                    <div class="div_shuline"></div>
                                    <div class="div_hengline"></div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">门店状态:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="status" v-model="list.status">
                                            <option value="1" >启用</option>
                                            <option value="0">禁用</option>
                                        </select>
                                    </div>
                                </div>
                                </div>
                                <div class="modal-body col-sm-offset-9">
                                    <button type="button" id="add_btn" class="btn btn-primary" @click="addShop(list)">确定</button>
                                </div>

                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>


            <div class="modal fade bbd-example-modal-sm" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:650px">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabell">创建/修改 新门店</h4>
                        </div>
                        <form class="form-horizontal"   method="post" role="form">
                            <div class="modal-header">
                                <input type="hidden" name="type" v-model="updatelist.id"    >
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">名字:</label>
                                    <div class="col-sm-8">
                                        <input type="text"  class="form-control" v-model="updatelist.name" placeholder="请输入该门店的名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">简介:</label>
                                    <div class="col-sm-8">
                                        <input type="text"class="form-control" v-model="updatelist.introduce"  placeholder="请输入该门店的地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">门店状态:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="updatestatus" v-bind:value="updatelist.status" v-model="updatelist.status" >
                                            <option value="1" >启用</option>
                                            <option value="0">禁用</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-body col-sm-offset-9">
                                    <button type="button" id="update_btn" class="btn btn-primary" @click="updateByid(updatelist)">确定</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>


            <div class="modal fade bbd-example-modal-sm" id="myModalll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:600px">
                    <div class="modal-content">
                        <img  :src="store" style="height: 400px">
                    </div>
                </div>
            </div>


            <div class="modal fade bbd-example-modal-sm" id="myModallll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content"  >
                        <img  :src="Store1">

                    </div>
                </div>
            </div>



        </div>
    </div>
</head>
<body>
<script>
    var responseResult=new Vue({
        el:"#responseResult",
        data:{
            selVal:39,
            responseResult:{},
            list:{},
            updatelist:{},
            store:{},
            Store1:{},
            first:{},
            sired:[],
            sired1:{}
        },
        methods: {
            addUser() {
                $("#myModal").modal('show');
                $("#status").val(1)
                var that=this
                axios
                    .post('/doBusinessSite/findBusinessSiteAndFloor?shopId='+this.selVal)
                    .then(function (response) {
                        that.sired = response.data.responseList;
                        console.log(that.sired)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });


            },
            pimgs(Result){
                this.Store1=Result.logoImageUrl
                $("#myModallll").modal('show');
            },
            ping(Result) {
                this.store=Result.qrcodeImage
                $("#myModalll").modal('show');
            },
            Shop() {
                $("#myModal").modal('show');
                $("#status").val(1)

            },
            Two(){
                var vul=$("#listname").val()
                console.log(vul)
                this.sired1=this.sired[vul]
                console.log(this.sired1)


            },
            One() {
                var that = this
                axios
                    .post('/storeAdmin/finds?shopId='+that.selVal+'&&storeType.type=service')
                    .then(function (response) {
                        that.responseResult = response.data.responseList;
                        console.log(response.data)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                return addUser();
            },
            // 添加
            addShop(list) {
                this.list.shopId =this.selVal;
                this.list.name=$("#listname").val()
                this.list.keywords=$("#listflorid").val()
                this.list.storeTypeId=$("#liststoreTypeName").val()
                console.log(this.list.name)
                axios
                // /doBusinessSite/add
                    .post('/storeAdmin/add', this.list)
                    .then(function (response) {
                        $("#myModal").modal('hide')
                        console.log(list)
                        alert("添加成功")
                        location.reload()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // 删除
            delByid(Result) {
                axios
                // shopAdmin/deleteShop
                    .post('/storeAdmin/delete?id='+ Result.id)
                    .then(function (response) {
                        alert("删除成功")
                        location.reload()
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert("删除失败")
                    });
            },
            // 修改
            updateAndid(Result) {
                $("#myModall").modal('show')
                alert(Result.id)
                var that=this
                axios
                // 单个查询
                    .post('/storeAdmin/findbyid?id='+Result.id)
                    .then(function (response) {
                        that.updatelist = response.data.responseResult;
                        console.log(response.data.responseResult)
                        $("#updatestatus").val(that.updatelist.status)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
            , updateByid(updatelist) {
                this.updatelist.status = $("#updatestatus").val();
                console.log(this.updatelist.status)
                axios
                    .post('/storeAdmin/modify',this.updatelist)
                    .then(function (response) {
                        $("#myModal").modal('hide')
                        alert("修改成功")
                        location.reload()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
        ,created(){
            var that=this
            axios
            // /doBusinessSite/find
            // /storeType/finds?shopId=39&type=service
                .post('/storeAdmin/finds?shopId=39&storeType.type=service')
                .then(function (response) {
                    that.responseResult=response.data.responseList;
                    console.log(response.data)
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios
                .post('/shopAdmin/find?shopId=39&&storeType.type=service')
                .then(function (response) {
                    that.store=response.data.responseList;
                    console.log(response.data)
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios
                .post('/storeType/finds?shopId=39&type=service')
                .then(function (response) {
                    that.first=response.data.responseList;
                    console.log(response.data)
                })
                .catch(function (error) {
                    console.log(error);
                });



        }
    })
</script>
</body>
</html>