<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>门店管理</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-table.min.css" />
	<script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="Vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="Vue/axios.min.js " type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
		/* 原理：父元素相对定位，input和横竖两条线绝对定位,
input层级高并且透明，就能显示出+号并且点击元素任意地方都可以执行选取文件 */
		.div_imgall{
			border:1px solid blue;
			/* 调整div_imgall的宽高和berder的大小，子元素大小会自适应 */
			width:100px;
			height:100px;
			position: relative;
		}
		.input_flie{
			display:block;
			width:100%;
			height:100%;
			opacity:0;
			z-index: 100;
			position: absolute;
			left:0; top:0;
		}
		.div_shuline{
			position: absolute;
			width:50%;
			height:2%;
			background-color: blue;
			left: 25%;
			top:49%;
			z-index: 5;
		}
		.div_hengline{
			position: absolute;
			width:2%;
			height:50%;
			background-color: blue;
			left: 49%;
			top:25%;
			z-index: 5;
		}

		/*html,*/

		/*body {*/
			/*height: 100%;*/
			/*font-size: 12px;*/
		/*}*/

		/*td {*/
			/*text-align: center;*/
			/*normal:"normal";*/
			/*white-space: nowrap;*/
			/*border: 1px solid red;*/
			/*font-size: 12px;*/
			/*color: #000000;*/
			/*margin-left: 0px;*/
			/*margin-top: 0px;*/
			/*margin-right: 0px;*/
			/*margin-bottom: 0px;*/
		/*}*/

		/*#main {*/
			/*border: 1px solid red;*/
			/*width: 100%;*/
			/*min-height: 100%;*/
			/*height: 100%;*/
			/*overflow: hidden !important;*/
			/*overflow: visible;*/
		/*}*/

		/*#header {*/
			/*height: 94px;*/
			/*border: 1px solid red;*/
		/*}*/
		/*.modal {*/
		/*display: table;*/
		/*height: 100%;*/
		/*margin: 0 auto;*/
		/*}*/
		/*.modal-dialog {*/
			/*display: table-cell;*/
			/*vertical-align: middle;*/
		/*}*/

	</style>


<body>
<div class="container" id="showShop">
	<div class="row ">
		<br/>
		<button type="button" class="btn btn-default  col-sm-2 " id="show_addbtn" @click="Shop()">创建门店</button>
		<br/><br/><br/>

		<table style='TBBLE-LBYOUT: fixed' class="table table-bordered table-hover tab-content"  >
			<tr >
				<td >门店id</td>
				<td>门店名称</td>
				<td style="width: 90px" >详细地址</td>
				<td>联系电话</td>
				<td>营业时间</td>
				<td>纬度</td>
				<td>经度</td>
				<td>门店图</td>
				<td style="width: 50px">热搜</td>
				<td>状态</td>
				<td>二维码</td>
				<td >操作</td>
			</tr>
			<tr v-for="val in responseList" class="vert-aligned">
				<td>{{val.id}}</td>
				<td>{{val.name}}</td>
				<td>{{val.address}}</td>
				<td>{{val.tel}}</td>
				<td>{{val.businessHours}}</td>
				<td>{{val.latitude}}</td>
				<td>{{val.longitude}}</td>
				<!--<td><img :src="val.map" ></td>-->
				<td ><img :src="val.images" height="40px" @click="pimgs(val)"></td>
				<td>{{val.hotSearch}}</td>
				<!--<td>{{val.map}}</td>-->
				<td v-if="val.status==1">启用</td>
				<td v-else>禁用</td>
				<td><button class="btn btn-default btn-xs" @click="ping()">生成</button></td>
				<td><button class="btn btn-default btn-xs" @click="updateid(val)">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-default btn-xs">设置导航路线</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger btn-xs" @click="delByid(val)">删除</button></td>

			</tr>

		</table>

	</div>

	<div class="modal fade bbd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:650px">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">创建/修改 新门店</h4>
				</div>
				<form class="form-horizontal" id="" method="post" role="form">
					<div class="modal-header">
						<!--<input type="hidden" name="type" v-model="list.id" value="">-->
						<div class="form-group">
							<label class="col-sm-2 control-label">门店名称:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="list.name" placeholder="请输入该门店的名称">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店地址:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="list.address" placeholder="请输入该门店的地址">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店电话:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="list.tel" placeholder="请输入该门店的电话">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">营业时间:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="list.businessHours" placeholder="请输入该门店的营业时间">
							</div>
						</div>
						帮助：获取经纬度的方式（打开新链接以后，右上角是经纬度，逗号前面是纬度，逗号后面是经度）
						<div class="form-group">
							<label class="col-sm-2 control-label">门店纬度:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="list.longitude" placeholder="请输入该门店的纬度">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店经度:</label>
							<div class="col-sm-8">
								<input type="text" v-model="list.latitude" class="form-control" placeholder="请输入该门店的经度">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">热搜:</label>
							<div class="col-sm-8">
								<input type="text" v-model="list.hotSearch" class="form-control" placeholder="请输入该门店的热搜">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门头图:</label>
							<div class="div_imgall  col-sm-offset-3">
								<input type="file" class="input_flie" ref="file" v-model="list.Images">
								<div class="div_shuline"></div>
								<!--<img :src="updatelist.Images" class="img-thumbnail" alt="Paris" width="400" height="300">-->
								<div class="div_hengline"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店状态:</label>
							<div class="col-sm-8">
								<select class="form-control" id="status" v-model="list.status">
									<option value="1">启用</option>
									<option value="0">禁用</option>
								</select>
							</div>
						</div>
						<div class="modal-body col-sm-offset-9">
							<button type="button" id="add_btn" class="btn btn-primary" @click="addShop(list)">确定</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

	<div class="modal fade bbd-example-modal-sm" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:650px">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabell">创建/修改 新门店</h4>
				</div>
				<form class="form-horizontal" method="post" role="form">
					<div class="modal-header">
						<input type="hidden" name="type" id="updatelist.id" v-model="updatelist.id" >
						<div class="form-group">
							<label class="col-sm-2 control-label">门店名称:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="updatelist.name" placeholder="请输入该门店的名称">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店地址:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="updatelist.address" placeholder="请输入该门店的地址">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店电话:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="updatelist.tel" placeholder="请输入该门店的电话">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">营业时间:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="updatelist.businessHours" placeholder="请输入该门店的营业时间">
							</div>
						</div>
						帮助：获取经纬度的方式（打开新链接以后，右上角是经纬度，逗号前面是纬度，逗号后面是经度）
						<div class="form-group">
							<label class="col-sm-2 control-label">门店纬度:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" v-model="updatelist.longitude" placeholder="请输入该门店的纬度">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店经度:</label>
							<div class="col-sm-8">
								<input type="text" v-model="updatelist.latitude" class="form-control" placeholder="请输入该门店的经度">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">热搜:</label>
							<div class="col-sm-8">
								<input type="text" v-model="updatelist.hotSearch" class="form-control" placeholder="请输入该门店的热搜">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店图:</label>
							<div class="col-sm-8">
									<img src="https://static.runoob.com/images/mix/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" @click>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">门店状态:</label>
							<div class="col-sm-8">
								<select class="form-control" v-bind:value="1" id="updatestatus" v-model="updatelist.status">
									<option value="1">启用</option>
									<option value="0">禁用</option>
								</select>
							</div>
						</div>
						<div class="modal-body col-sm-offset-9">
							<button type="button" id="update_btn" class="btn btn-primary" @click="updateByid(list)">确定</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

	<div class="modal fade bbd-example-modal-sm" id="myModalll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:600px">
			<div class="modal-content">
				<img v-for="val in responseList" :src="val.qrcodeImage">
			</div>
		</div>
	</div>
	<div class="modal fade bbd-example-modal-sm" id="myModallll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
			<div class="modal-content"  >
				<img  :src="store" style="height: 400px">
			</div>
		</div>
	</div>

</div>
<script>

	var showShop = new Vue({
		el: "#showShop",
		data: {
			responseList: {},
			list: {},
			updatelist: {},
            store:{}
		},
		methods: {
			pimgs(val){
			    this.store=val.images
				$("#myModallll").modal('show');
			},
			ping() {
				$("#myModalll").modal('show');
			},
			Shop() {
				$("#myModal").modal('show');
				$("#status").val(1)
			},
			// 添加
			addShop(list) {

				console.log(this.list.id)
				axios
				// /shopAdmin/add
						.post('/shopAdmin/add', this.list)
						.then(function(response) {
							$("#myModal").modal('hide')
							console.log(list)
							alert("添加成功")
							location.reload()
						})
						.catch(function(error) {
							console.log(error);
						});
			},
			// 删除
			delByid(val) {
				axios
						.post('/shopAdmin/deleteShop?id='+val.id)
						.then(function(response) {
							alert("删除成功")
							location.reload()
						})
						.catch(function(error) {
							console.log(error);
							alert("删除失败")
						});
			},
			// 修改
			updateid(val) {
				$("#myModall").modal('show')
				var that=this
				axios
				// 单个查询
						.post('/shopAdmin/findById?id='+val.id)
						.then(function(response) {
							that.updatelist = response.data.responseList;
							console.log(response.data)
							$("#updatelist.id").val(that.updatelist.updatelist)
						})
						.catch(function(error) {
							console.log(error);
						});
			},
			updateByid(updatelist) {
				console.log(this.updatelist.id)
				axios
						.post('/shopAdmin/add', this.updatelist)
						.then(function(response) {
							$("#myModal").modal('hide')
							alert("修改成功")
							location.reload()
						})
						.catch(function(error) {
							console.log(error);
						});
			}
		},
		created() {
			var that = this
			axios
			// /shopAdmin/find
					.post('/shopAdmin/find')
					.then(function(response) {
						that.responseList = response.data.responseList;
						console.log(response.data)
					})
					.catch(function(error) {
						console.log(error);
					});
		}
	})
</script>

</body>

</html>